@import "_klj-colours.scss";

$background-color: $klj-blue;
$styled-h2-color: $klj-green;
$form-outline-color: $klj-blue;

$white: #fff;
$black: #000;

$body-text-color: $black;
$meta-text-color: $white;

$min-body-width: 680px;
$max-body-width: 960px;

$box-border-radius: 0.5rem;
$button-border-radius: 0.25rem;
