@use '@/styles/utilities/_responsiveness.scss';
$app-width: responsiveness.$breakpoint-xl;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#app {
  height: 100%;
  max-width: $app-width;
  margin: auto;

  display: flex;
  flex-direction: column;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-space-between {
  @include flex-row;
  justify-content: space-between;
}

@mixin sticky-table-header { // use on table
  position: relative;

  th {
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    //box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 2px -2px gray;
  }
}