@import '@/styles/_colors.scss';

.Vue-Toastification__toast--default {
  background-color: $klj-blue;
  color: #fff;
}
.Vue-Toastification__toast--info {
  background-color: $klj-blue;
  color: #fff;
}
.Vue-Toastification__toast--success {
  background-color: $klj-green;
  color: #fff;
}
.Vue-Toastification__toast--error {
  background-color: $klj-red;
  color: #fff;
}
.Vue-Toastification__toast--warning {
  background-color: $yellow;
  color: #fff;
}
