@use 'sass:color';

$klj-blue: #00adee;
$klj-green: #8bc53f;
$klj-red: #ed2920;

$yellow: #F9C80E;
//$yellow: #FFE066;
$orange: #F86624;
$red: #EA3546;
$dark-red: color.adjust($red, $lightness: -10%);
//$red: #F25F5C;
$purple: #662E9B;

$gray-lighter: #eee;
$gray-light: color.adjust($gray-lighter, $lightness: -10%);
$gray: #816F68;
//$gray: #494949;
$gray-dark: #50514F;
//$gray-dark: #36393B;
$white: #fff;
$black: #222222;