@use 'sass:color';
@import '@/styles/utilities/_padding-margin.scss';
@import '@/styles/_colors.scss';

@mixin transition {
  transition: all 300ms;
}

@mixin striped-rows {
  @include transition;

  $even: white;
  $odd: color.adjust($even, $lightness: -5%);
  $hover: color.adjust($even, $lightness: -10%);

  border-bottom: $box-border-width solid $even;

  &:nth-child(even) {
    background-color: $even;
  }

  &:nth-child(odd) {
    background-color: $odd;
  }

  &:hover {
    background-color: $hover;
  }
}

@mixin category-color-block {
  align-self: stretch;
  min-height: 2.5rem;
  width: 100px;
  border-left: 1px solid $body-text-color-lighter;
  border-right: 1px solid $body-text-color-lighter;
}
