$box-padding: 0.75rem;
$box-border-radius: 0.5rem;
$box-border-width: 1px;

$button-padding-x: 1rem;
$button-padding-y: 0.5rem;
$button-padding: $button-padding-y $button-padding-x;
$button-border-radius: 0.25rem;
$button-border-width: 1px;
//$button-border: $button-border-width solid

//@mixin box-shadow {
  //box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  //box-shadow: 0 0 5px #888;
//}