@import '@/styles/utilities/_padding-margin.scss';
@import '@/styles/_colors.scss';
@import '@/styles/utilities/_general.scss';
@import '@/styles/utilities/_typography.scss';
@import '@/styles/ui/_layout.scss';

pre {
  display: block;
  overflow-x: auto;
}

@mixin input {
  @include transition;
  display: block;
  width: 100%;
  padding: $button-padding;
  border-radius: $button-border-radius;
  border: $button-border-width solid $body-text-color-lighter;

  &.invalid {
    border: 2px solid $red;
  }
}

@mixin form-row {
  @include transition;
  @include striped-rows;
  width: 100%;
  padding: 0.5rem 1rem;

  .input-errors {
    flex-basis: 60%;
    align-self: flex-start;

    input {
      @include input;
    }

    .errors {
      @include error-text;
      margin-top: 0.5rem;
    }
  }

  label {
    @include flex-row-space-between;
    gap: $box-padding;

    .label {
      margin-top: 0.25rem;
    }
  }
}
