@import '@/styles/_colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: VAG;
  src: url("@/assets/VAGRoundedBold.ttf") format('truetype');
}

@mixin brand-font {
  font-family: VAG, sans-serif;
}

@mixin contrast-text {
  color: $background-contrast-color;
}

@mixin reset-link {
  text-decoration: none;
}

@mixin contrast-link {
  a {
    color: $background-contrast-color;

    &:hover {
      color: $background-contrast-color-darker;
    }
  }
}

@mixin extra-info-text {
  font-style: italic;
  font-size: 80%;
  color: lighten($body-text-color, 30%);
}

@mixin error-text {
  font-size: 80%;
}
