@import "_variables.scss";
@import "_mixins.scss";

@mixin reset-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@mixin styled-button-base {
  @include transition;

  padding: 0.75rem;
  border-radius: $button-border-radius;
  font-weight: bold;

  text-decoration: inherit;
  display: inline-block;

  &:disabled {
    cursor: initial;
  }
}

@mixin button-red {
  color: $white;
  background-color: $primary-red;

  &:hover:enabled {
    background-color: darken($primary-red, 8%);
  }

  &:disabled {
    background-color: lighten($primary-red, 20%);
    color: darken($white, 15%);
  }
}

@mixin button-green {
  color: $white;
  background-color: $primary-green;

  &:hover:enabled {
    background-color: darken($primary-green, 8%);
  }

  &:disabled {
    background-color: lighten($primary-green, 20%);
    color: darken($white, 2%);
  }
}
