$primary-blue: #00adee;
$primary-green: #8bc53f;
$primary-red: #ed2920;

$secondary-dark: #435058;
$secondary-darker: #3F3F37;

$secondary-yellow: #FFC15E;
$secondary-orange: #FBB02D;
$secondary-blue: #1b75bb;
$secondary-green: #4DA858;
$secondary-grey: #a6a8ac;
$secondary-red: #D1462F;

$white: #fff;

$cat1: $secondary-dark;
$cat2: $secondary-blue;
$cat3: $secondary-green;
$cat4: $secondary-yellow;
$cat5: #fff;
$cat6: $secondary-red;