@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

button {
  @include transition;
  border-radius: $button-border-radius;
  border-style: none;
  box-sizing: border-box;
  color: $body-text-color;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  outline: none;
  padding: $button-padding;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
}

button:disabled {
  color: lighten($body-text-color, 50%);
}

.btn-icon {
  i {
    margin-right: 0.25rem;
  }
}

.btn-blue {
  background-color: $klj-blue;
  color: $white;

  &:hover,
  &:focus {
    background-color: darken($klj-blue, 10%);
  }

  &:disabled {
    background-color: lighten($klj-blue, 30%);
  }
}

.btn-danger {
  background-color: $dark-red;
  color: $white;

  &:hover,
  &:focus {
    background-color: darken($dark-red, 10%);
  }

  &:disabled {
    background-color: lighten($dark-red, 30%);
  }
}