$klj-blue: #00adee;
$klj-green: #8bc53f;
$klj-red: #ed2920;

$yellow: #F9C80E;
$orange: #F86624;
$red: #EA3546;
$dark-red: darken($red, 10%);
$purple: #662E9B;

$background-color: $klj-blue;
$background-contrast-color: #fff;
$background-contrast-color-darker: darken($background-contrast-color, 10%);

$body-text-color: #222222;
