$primary-blue: #00adee;
$primary-green: #8bc53f;
$primary-red: #ed2920;

$secondary-yellow: #fff100;
$secondary-orange: #f7921e;
$secondary-pink: #eb008b;
$secondary-blue: #1b75bb;
$secondary-green-light: #d6de23;
$secondary-green: #37b34a;
$secondary-green-dark: #006838;
$secondary-grey: #a6a8ac;
$secondary-brown: #c3996b;