@import "_variables.scss";

@mixin transition {
  transition: all 300ms;
}

@mixin brand-font {
  font-family: VAG, sans-serif;
}

@mixin styled-h2 {
  text-align: center;
  margin: 0.5rem auto;

  @include brand-font;
  color: $styled-h2-color;
}

@mixin form-input {
  @include transition;
  width: 100%;
  padding: 0.5rem 1rem;
  @include striped-rows;

  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    .label {
      margin-top: 0.25rem;
    }

    .input-errors {
      flex-basis: 60%;
      align-self: flex-start;

      input {
        width: 100%;
        padding: 0.25rem;
        border-radius: $button-border-radius;
        border: 1px solid $gray-light;

        &.invalid {
          border: 2px solid $red;
        }
      }

      .errors {
        color: $red;
        margin-top: 0.5rem;
      }
    }
  }

  .input-errors {
    flex-basis: 60%;
    align-self: flex-start;

    input {
      width: 100%;
      padding: 0.25rem;
      border-radius: $button-border-radius;
      border: 1px solid $gray-dark;

      &.invalid {
        border: 2px solid $red;
      }
    }

    .errors {
      color: $red;
      margin-top: 0.5rem;
    }
  }
}

@mixin striped-rows {
  @include transition;
  border-bottom: $box-border-width solid $gray-light;

  &:nth-child(even) {
    background-color: $gray-lighter;
  }

  &:nth-child(odd) {
    background-color: $white;
  }

  &:hover {
    background-color: darken($gray-lighter, 5%);
  }
}

@mixin reset-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@mixin reset-link {
  text-decoration: none;
}

@mixin meta-link {
  a {
    color: $meta-text-color;

    &:hover {
      color: $gray-lighter;
    }
  }
}

@mixin box-shadow {
  //box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  //box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@mixin extra-info-text {
  font-style: italic;
  font-size: 80%;
  color: lighten($body-text-color, 30%);
}

@mixin category-color-block {
  align-self: stretch;
  min-height: 2.5rem;
  width: 100px;
}