@import "./_variables.scss";

@mixin transition {
  transition: all 150ms;
}

@mixin brand-font {
  font-family: VAG, sans-serif;
}

@mixin styled-h2 {
  @include brand-font;

  color: $primary-green;
  text-align: center;
  font-size: 175%;

  margin-top: 0.5rem;
  //margin-bottom: 0.5rem;
}
